<table class="table" id="practice-entry-table">
    <thead>
      <tr>
        <td></td>
        <td>Driver</td>
        <td>Irons</td>
        <td>Short Game</td>
        <td>Wedges</td>
        <td>Putting</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="right-aligned">Hours</td>
        <td *ngFor="let column of tableColumns">
          <form class="form1">
            <mat-form-field class="table-input">
              <input matInput placeholder="Hours" tabindex="{{column + 3}}">
            </mat-form-field>
          </form>
        </td>
      </tr>
      <tr>
        <td class="right-aligned">Minutes</td>
        <td *ngFor="let column of tableColumns">
          <form class="form1">
            <mat-form-field class="table-input">
              <input matInput placeholder="Minutes" tabindex="{{column + 4}}">
            </mat-form-field>
          </form>
        </td>
      </tr>
      <tr>
        <td class="right-aligned">Date</td>
        <td *ngFor="let picker of datepickerFormNames; let i = index">
            <form class="form1">
              <mat-form-field class="table-input">
                <input matInput [formControl]="inputDate" [matDatepicker]="picker" tabindex="{{(3*i) + 3}}">
                <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>      
            </form>
        </td>            
      </tr>
  </tbody>
</table>

<div class="checkboxes">
  <mat-checkbox>Same Date all Times</mat-checkbox>
</div>

