table td {
    border-top: none !important;
}

td {
    border-top: none !important;
    vertical-align: middle;
}

::ng-deep .cdk-overlay-container{
    z-index: 1200 !important;
}

.form1 {
    max-width: 110px;
    width: 100%;
}

.table-input {
    width: 100%;
}

.right-aligned {
    text-align: right;
}