<table class="table" id="practice-entry-table">
    <thead>
        <tr>
            <td></td>
            <td>Driver</td>
            <td>Irons</td>
            <td>Short Game</td>
            <td>Wedges</td>
            <td>Putting</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Hours</td>
            <td *ngFor="let columns of tableColumns">
                <form class="form1">
                  <mat-form-field class="table-input">
                    <input matInput placeholder="Hours">
                  </mat-form-field>
                </form>
              </td>
        </tr>
        <tr>
            <td>Minutes</td>
            <td *ngFor="let columns of tableColumns">
              <form class="form1">
                <mat-form-field class="table-input">
                  <input matInput placeholder="Minutes">
                </mat-form-field>
              </form>
            </td>
        </tr>
        <tr>
            <td>Date</td>
              <td *ngFor="let picker of datepickerFormNames">
                  <form class="form1">
                      <mat-form-field class="table-input">
                          <input matInput [matDatepicker]="picker">
                          <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>      
                  </form>
              </td>            
      </tr>
  </tbody>
</table>