<div class="modal fade" id="practice-modal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Enter Practice</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <app-practice-table></app-practice-table>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button mat-button data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>
